* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    li {
        list-style: none;
    }
    .main-container {
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 80px;
            max-width: 1760px;
            .header-logo {
                width: 264px;
                > img {
                    width: 100%;
                    height: 54px;
                }
                > p {
                    font-size: 12px;
                    text-align: center;   
                }
            }

            @mixin header_icons {
                display: inline-block;
                font-size: 24px;
                width: 20px;
                height: 24px;
                margin: 10px;
            }
            @mixin header_info {
                height: 49px;
                font-size: 18px;
                line-height: 24px;
                display: flex;
            }
            .header-geolocation {
                max-width: 398px;
                @include header_info();
                > i {
                    @include header_icons();
                }
            }
            .header-date {
                max-width: 167px;
                @include header_info();
                > i {
                    @include header_icons()
                }
            }
            .header-phone-number {
                max-width: 195px;
                @include header_info();
                > i {
                    @include header_icons()
                }
            }
            .header-icons {
                i {
                    @include header_icons()
                }
            }
        }
        .navbar-container {
            background-color: rgba(242, 242, 242, 1);
            padding: 0 80px;
            .navbar-block {
                display: flex;
                align-items: center;
                max-width: 1760px;
                height: 102px;
                a {
                    text-decoration: none;
                    color: #232323;
                }
                > ul {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    li {
                        font-size: 18px;
                        margin-right: 74px;
                        color: #232323;
                        font-weight: 900;
                    }
                }
                .navbar-pickUpLift {
                    width: 304px;
                    height: 64px;
                    background-color: #333333;
                    color: #fff;
                    font-size: 20px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    font-weight: 700;
                }
                .navbar-discount {
                    width: 92px;
                    height: 52px;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
                    background: #FFAE34;
                }
            }
        }
        .sale-section {
            position: relative;
            .sale-discount-info {
                z-index: 1;
                max-width: 962px;
                height: 630px;
                background-image: url('/glavnaya_stranica/images/Rectangle\ 259.png');
                > div {                   
                    margin-left: 80px;
                    padding-top: 140px;
                    > h2 {
                        max-width: 749px;
                        height: 110px;
                        font-size: 42px;
                        text-transform: uppercase;
                    }
                    > h3 {
                        max-width: 690px;
                        height: 91px;
                        font-size: 24px;
                        margin: 24px 0 49px 0;
                    }
                    > div {
                        display: flex;
                        .sale-pickUpLift {
                            width: 410px;
                            height: 85px;
                            background-color: #333333;
                            color: #fff;
                            border: none;
                            cursor: pointer;
                            font-size: 24px;
                            border-radius: 4px 0 0 4px;
                        }
                        .sale-discount {
                            width: 152px;
                            height: 85px;
                            border: none;
                            cursor:help;
                            font-size: 24px;
                            border-radius: 0 4px 4px 0;
                        }
                    }
                    > p {
                        width: 499px;
                        height: 52px;
                        font-size: 18px;
                        margin-top: 51px;
                    }
                }
            }
            .sale-image {
                position: absolute;
                background-image: url('/glavnaya_stranica/images/girl.png');
                width: 100%;
                height: 630px;
                right: 0;
                top: 0;
                overflow: hidden;
                z-index: -1;
            }
            .company-info {
                display: flex;
                margin: 0px 80px;
                justify-content: space-between;
                height: 148px;
                div {
                    display: inherit;
                    align-items: center;
                    b {
                        font-size: 78px;
                    }
                    p {
                        font-size: 24px;
                        margin: 0 20px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
        .price-list-section {
            background-color: #F2F2F2;
            .price-list-contains {
                max-width: 1760px;
                margin: 0 80px;
                .price-list-title {
                    width: 709px;
                    height: 86px;
                    padding: 56px 0 46px 0;
                    > h2 {
                        font-size: 36px;
                        font-weight: 700;
                    }
                }
                .price-list-items {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 60px;
                    > div {
                        display: flex;
                        gap: 32px;
                        > .icon {
                            min-width: 88px;
                            max-width: 88px;
                            height: 88px;
                            background-color: #FFAE34;
                        }
                        div{
                            max-width: 290px;
                            
                            display: inherit;
                            flex-direction: column;
                            gap: 12px;
                            h3 {
                                font-size: 20px;
                                font-weight: 800;
                            }
                            p {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }
                    }
                }
                .price-list-btn {
                    display: flex;
                    justify-content: center;
                    padding: 100px 0 64px 0;
                    > button {
                        border: none;
                        font-weight: 700;
                        font-size: 24px;
                        width: 560px;
                        height: 85px;
                        border-radius: 4px;
                        background-color: #C4C4C4;
                    }
                }
            }
        }
    }
}